<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>ShoPai Product Detail</h1>
      <img src="/<%=result.imgSrc%>" width="500" height="333"><br>
      <strong>Product Name: </strong>
      <%=result.name%>
      <br /><br />
      <strong>Produc Description</strong>
      <%=result.description%>
      <br /><br />
      <strong>Price: </strong>
      <%=convertToRupiah(result.price)%>
      <br /><br />
      <strong>Stock: </strong>
      <%=result.stock%>
      <br /><br />

      <% if(role !== "Admin"){ %>
      <a href="/user/<%=result.id%>/buy"><button class="btn btn-success">Buy</button></a>
      <% } else { %>
      <a href="/product/<%=result.id%>/delete"><button class="btn btn-danger">Delete Product</button></a>

      <% }%>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
